@page "/flights"
@inject HttpClient Http

<PageTitle>Flights</PageTitle>

<h1>Flights</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (flights == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Airline</th>
                <th>Departure</th>
                <th>Arrival</th>
                <th>PriceUsd</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var flight in flights)
            {
                <tr>
                    <td>@flight.Airline</td>
                    <td>@flight.Departure</td>
                    <td>@flight.Arrival</td>
                    <td>@flight.PriceUsd</td>
                    <td><button onclick="@Book(flight.Airline, flight.FlightId)">Book</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Flight>? flights;

    protected override async Task OnInitializedAsync()
    {
        flights = await Http.GetFromJsonAsync<List<Flight>>("api/flights");
    }

    public async Task Book(Airline airline, string flightId)
    {
        Console.WriteLine($"Booking {airline}, id = {flightId}");
        var dto = new BookFlightDto(airline, flightId, "TestName", "TestSerialNumber");

        var response = await Http.PostAsJsonAsync<BookFlightDto>("api/flights", dto);
        Console.WriteLine($"Response code {response.StatusCode}");
    }
}
